.home{
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  color: #FFF;
  text-align: center;
  padding-top: 80px;
}
#posts{
  overflow-y: scroll;
  height: 400px;
}
.footer{
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70px;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  display:block;
  padding-top: 20px;
}
.article{
  border-bottom: 1px solid;
}
header{
  margin-top: 60px;
}
